
.width{
  width:30rem;
  
}
.white{
  color:white;
}

.center{
  position: relative;
  margin-right:none !important; 
  padding-top:10rem;
}


.back {
  background-image: url('https://www.stratusbuildingsolutions.com/sites/default/files/subcat_img/powerwashing.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70rem;
}