:root {
  --mainBlue: indigo;
  --lightBlue: royalblue;
  --mainwhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffe484;
}

body {
  background: var(--mainwhite) !important;
  color: var(--mainDark) !important;
}



.btn-outline-warning {
  color: indigo !important;
  border-color: indigo !important;
}

.btn-outline-warning:hover {
  color: #ffe484 !important;
  border-color: #ffe484 !important;
}

