.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #833ab4, #2194b1, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #833ab4, #2194b1, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #833ab4, #2194b1, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #833ab4, #2194b1, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea[type=text] {
  width: 100%;
  padding: 25px 20px;
  margin: 13px 0;
  box-sizing: border-box;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

.projects-grid {
  display: flex;
}



/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
  border-radius:3%;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  margin-top:7em;
  height: 250px;
  
  border-radius: 50%;
}
.avatar-img-2 {
  margin-top:3em;
  height: 200px;
  margin-bottom:-5em;
  border-radius: 50%;
}
.avatar-img-3 {
  height: 200px;
  border-radius: 50%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
.social-links-2 i {
  color: black;
  font-size: 5em;
  padding: 8px;
}
