.display-4{
    margin-top:30rem;
    color:white(0, 0, 0);
  }
  
  .lead{
    margin-top:2rem;
    margin-buttom:-20rem;
    color: white(0, 0, 0);
  }

  .cursor{
    color:rgb(0, 0, 0) !important;
  }